:root {
  font-family: "Open Sans", sans-serif;

  background-color: #F5F4F0;
  color: #1B1B1B;
}

main{
    padding: 88px 80px;
}

.center {
    text-align: center;
    padding: 0 0 40px;
}

.headline-orange {
    color: #E1624F;
}

.Blue {
    color: #0C51A7;
}

.Purple {
    color: #591B98;
}

.Pink {
    color: #E5245E;
}

.accent-orange {
    color: #E95E10;
}

h1{
    padding: 0 0 40px;
    color: #1B1B1B;
}

h2 {
    color: #1B1B1B;
}

img {
    display: flex;
    margin: auto;
    border-radius: 28px; 
    width: 100%;
    height: auto;
}

a:link, a:visited{
    text-decoration: none;
    color:black;
}